 @import '_variables.scss';
 @import '_mixins.scss';
 @import '_placeholders.scss';

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap'); /* polices */

 *
 {
    font-family: 'Roboto'; /* police */
    box-sizing: border-box; /* élément final = element + margin + padding */
 }

 h1
{
    font-size: 25px; /* taille de la police */
    padding: 0 50px; /* marge intérieure */
    margin-bottom: 20px; /* marge extérieure */
 }

 h2
 {
    font-size: 25px; /* taille de la police */
    font-weight: bold; /* largeur police */
    margin: 30px 0; /* marge extérieure */
 }

 h3
 {
    font-weight: 300; /* largeur police */
    font-size: 18px; /* taille de la police */
    margin-top: 30px; /* marge extérieure */
 }

 h4
 {
    font-size: 18px; /* taille de la police */
    margin-bottom: 10px; /* marge extérieure */
 }

 a
 {
    text-decoration: none; /* retire les effets de styles sur les liens */
 }

 img
 {
    width: 100%; /* largeur */
    object-fit: cover; /* photo adapté au bloc */
 }     
 
 a
 {
    display: block;
    margin-bottom: 20x;
 } 

 .bloc_page
 {
    margin: auto; /* marge extérieure */
 }

 .container /* détermine les dimensions de la page */
 {
    max-width: 1340px; /* largeur max à 1340px */
    width: 100%; /* largeur à 100% */
    margin: auto; /* marge extérieure automatique */
 }

 .header_contend /* détermine les caractéristiques du contenu du header */
{
    a
    {
        @extend %flex-center_x; 

        padding: 20px 0; /* marge intérieure */
    }
    img
    {
        width: auto; /* largeur */
        height: 30px; /* hauteur */
    }
}

main
{
    .location
    {
        @extend %flex-center_xy; 
    
        height: 50px; /* hauteur */
        padding: 20px; /* marge intérieure */
        background-color: #f3f3f3; /* couleur de fond */

        box-shadow: inset 3px 3px 3px rgb(200, 200, 200); /* ombrages */
        i
        {
            padding: 0 20px; /* marge intérieure */
            font-size: 18px; /* taille police */
        }
        input
        {
            margin-right: -20px;
            background-color: #f3f3f3;
            border: none; 
        }
    }
    .explorer
    {
        @extend %flex-center_xy; 
        flex-direction: column; /* flexbox en colonne */

        padding: 20px 0; /* marge intérieure */
        background-color: #fafafa; /* couleur du fond */ 
        text-align: center; /*  centre le texte */    
        p
        {
            font-size: 18px; /* taille police */
            color: #616161; /* couleur */
            padding: 0 20px; /* marge intérieure */
        }
    }
    .fonctionnement
    {
        padding: 20px; /* marge intérieure */
    }
}

.btn /* caractéristiques générales des boutons */
{
    margin: 10px 0; /* marge extérieure */
    height: 50px; /* hauteur */
    border: none; /* bordure du cadre */
    box-shadow: 6px 6px 6px #dfdfdf; /* ombrages */
}

.btn_rose 
{
    @extend %flex-center_y;
    
    margin-top: 20px; /* marge extérieure */
    margin-bottom: 30px;
    padding: 0 20px; /* marge intérieure */
    color: white; /* couleur */
    border-radius: 50px; /* arrondis du cadre */ 
    background: linear-gradient($couleur_2, $couleur_1); /* fond dégradé */ 
    &:hover
    {
        opacity: 90%; /* opacité */
    }
}

.ensemble_btn_fonctionnement
{
    &:hover i 
    {
        color: #9356DC;
    }
    a
    {
        @extend %flex-center_y;  
        p
        {
            @extend %flex-center_xy; 

            min-width: 20px; /* largeur mini */
            width: 20px; /* largeur */
            min-height: 20px; /* hauteur mini */
            height: 20px; /* hauteur */
            color: white; /* couleur */
            background-color: #9356DC; /* couleur du fond */
            border-radius: 100%; /* arrondis du cadre */
            z-index: 2; /* élément au dernier plan */
        }
        i
        {
            margin: 20px; /* marge extérieure */
            color: #959595; /* couleur */
            z-index: 2; /* élément au dernier plan */
        }
        .btn_fonctionnement
        {
            margin-left: -66px;
            padding: 0 10px; /* marge intérieure */
            width: 100%; /* largeur */
            height: 70px; /* hauteur */
            background-color: #fafafa; /* couleur du fond */
            border-radius: 20px; /* arrondis du cadre */
            color: black;

            @extend %flex-center_xy;
            &:hover
            {
                background-color: #9256dc1a; /* couleur du fond */
            }
        }
    }
}

.restaurant
{
    background-color: #f3f3f3; /* couleur du fond */
    padding: 20px; /* marge intérieure */
    a
    {
        text-decoration: none;
        color: black;
    }
    .carte_restaurant
    {
        width: 100%; /* largeur */
        margin-bottom: 20px; /* marge intérieure */
        border-radius: 20px; /* arrondis du cadre */
        box-shadow: 6px 6px 6px #dfdfdf; /* ombrages */
        .nouveau_bloc_vert
        {
            width: 25%; /* largeur */
            height: 25%; /* hauteur */
            padding: 2%;
            background-color: #99E2D0;
            color: #107f64;
            border-radius: 3px;
            
            position: relative;
            left: 70%;
            margin-bottom: -14%;
            z-index: 2;

            @extend %flex-center_xy;
        }
        img
        {
            height: 190px; /* hauteur */
            border-radius: 20px 20px 0 0; /* arrondis du cadre */
        }
        .carte_restaurant_description
        {
            @extend %flex-center_y;
            justify-content: space-between; /* espace les éléments */
            

            padding: 20px 20px; /* marge intérieure */
            background-color: white; /* couleur du fond */
            border-radius: 0 0 20px 20px; /* arrondis du cadre */
            p
            {
                font-size: 17px; /* taille police */
                font-weight: 300; /* largeur police */
            }
            i
            {
                font-size: x-large;
            }
        }
    }
}

footer
{
    background-color: #353535; /* couleur du fond */
    padding: 20px; /* marge intérieure */
}

.footer_contend /* détermine les caractéristiques du contenu du footer */
{
    h5
    {
        font-family: 'Shrikhand'; /* police */
        color: white; /* couleur */
        margin-bottom: 20px; /* marge extérieure */
    }
    ul li 
    {
        margin-bottom: 10px; /* marge extérieure */
        a
        {
            color: white; /* couleur */
            i
            {
                width: 15px; /* largeur */
                padding-right: 20px; /* marge intérieure */
                font-size: smaller; /* taille de la police */
            }
        }
    }
}

.header_contend_menu
{
    display: grid; /* active la propriété 'grid' */
    grid-template-columns: repeat(1fr, 3) ; /* nb colonne + taille colonne */
    grid-template-areas: "i img"; /* placement template */
    a
    {
        @extend %flex-center_xy; 

        margin-left: -10px; /* marge extérieure */
        i
        {
            font-size: x-large; /* taille police */
            font-weight: bold; /* largeur police */
            color: black; /* couleur */
        }
    }
    img
    {
        width: auto; /* largeur */
        height: 70px; /* hauteur */
        padding: 20px; /* marge intérieure */
        margin-left: -10px; /* marge extérieure */
    }
}

.carte_menu
{
    position: relative; /* propriété position relative */
    border-radius: 40px; /* arrondis */
    margin-top: -40px; /* marge extérieure */
    padding: 20px; /* marge intérieure */
    background-color: #f3f3f3; /* couleur fond */
    h3
    {
        width: 45px;
        padding-bottom: 5px;
        border-bottom: 3px solid $couleur_3;
    }
    .carte_menu_titre
    {
        @extend %flex-center_y;
        justify-content: space-between; /* espace les éléments */

        margin: 20px 0; /* marge extérieure */
        background-color: #f3f3f3; /* couleur fond */
        border-radius: 20px 20px 0 0; /* arrondis */
        h1
        {
            font-family: 'Shrikhand'; /* police */
            font-size: 30px; /* taille police */
            margin-bottom: 0; /* largeur police */
            padding: 0; /* marge intérieure */
        }
    }
}

.btn_menu
{
    padding: 0 15px; /* marge intérieure */
    width: 100%; /* largeur */
    height: 70px; /* hauteur */
    background-color: #fafafa; /* couleur du fond */
    border-radius: 20px; /* arrondis du cadre */

    @extend %flex-center_y;
    
    .btn_menu_description_prix_item_valider
    {
        width: 100%;
        
        .btn_menu_prix
        {
            margin-right: -40px;
            @extend %flex-center_y;
            justify-content: space-between;
            

            transition: all ease-in-out .5s;

            :first-child
            {
                font-size: 15px; /* taille police */
                font-weight: 100; /* largeur police */
                margin-bottom: 10px;

                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            >p
            {
                font-size: 15px; /* taille police */
                font-weight: 600; /* largeur police */
                padding-right: 10px;
            }
        }
    }
    .item_valider 
    {
        width: 60px;
        height: 100%; 
        margin-right: -15px;      
        border-radius: 0 20px 20px 0;
        color: white;
        background-color: $couleur_3;
        
        transition: all ease-in-out .5s;

        @extend %flex-center_xy;
        transform-origin: right;
        transform: scaleX(0);
        i
        {
            transform: scaleX(0) scaleY(0);
            color: #fafafa
        }
    }
    &:hover .item_valider
    {
        
        transform: scaleX(1);
        i
        {
            transform: scaleX(1.2) scaleY(1.2); 
            color: #fafafa;
        }
    }
    &:hover .btn_menu_prix
    {
        margin-right: 0px;
    }
}

.btn_jaime
{
    box-shadow: none; /* ombrages */

    @extend %flex-center_xy; 

    .fa-heart {
        color: black;
        background-color: #f3f3f300;
        
        padding:.2em;
    }
    .fa-heart::before {
        
        transition: color 1s ease-out;
    }
    .fa-heart:hover::before{
        color: red;
        cursor: pointer;
    }
    .btn_jaime_index
    {
        margin-right: -33.6px;
        color: black;
        background: #f3f3f300; 
    }
    .btn_jaime_index_2
    {
        font-weight: bold;
        color: #f3f3f300;
        background-color: #f3f3f300;
    }
    .btn_jaime_menu
    {
        margin-right: -33.6px;
        font-size: x-large;
        color: black;
        background: #f3f3f300; 
    }
    .btn_jaime_menu_2
    {
        font-weight: bold;
        font-size: x-large;
        color: #f3f3f300;
        background-color: #f3f3f300;
    }
}

.commander
{
    @extend %flex-center_x;
    .btn_rose
    {
        padding: 0 50px; /* marge intérieure */
        margin: 40px 0 60px 0; /* marge extérieure */
    }
}

