@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
.commander, .btn_menu .btn_menu_description_prix, .header_contend a {
  display: flex;
  justify-content: center;
}

.carte_menu .carte_menu_titre, .restaurant .carte_restaurant .carte_restaurant_description, .ensemble_btn_fonctionnement {
  display: flex;
  align-items: center;
}

.header_contend_menu a, .ensemble_btn_fonctionnement p, main .explorer, main .location {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* polices */
* {
  font-family: "Roboto"; /* police */
  box-sizing: border-box; /* élément final = element + margin + padding */
}

h1 {
  font-size: 25px; /* taille de la police */
  padding: 0 50px; /* marge intérieure */
  margin-bottom: 20px; /* marge extérieure */
}

h2 {
  font-size: 25px; /* taille de la police */
  font-weight: bold; /* largeur police */
  margin: 30px 0; /* marge extérieure */
}

h3 {
  font-weight: 300; /* largeur police */
  font-size: 20px; /* taille de la police */
  margin-top: 30px; /* marge extérieure */
}

h4 {
  font-size: 18px; /* taille de la police */
  margin-bottom: 10px; /* marge extérieure */
}

a {
  text-decoration: none; /* retire les effets de styles sur les liens */
}

img {
  width: 100%; /* largeur */
  -o-object-fit: cover;
     object-fit: cover; /* photo adapté au bloc */
}

.bloc_page {
  margin: auto; /* marge extérieure */
}

.container {
  max-width: 1340px; /* largeur max à 1340px */
  width: 100%; /* largeur à 100% */
  margin: auto; /* marge extérieure automatique */
}

.header_contend a {
  padding: 20px 0; /* marge intérieure */
}
.header_contend img {
  width: auto; /* largeur */
  height: 30px; /* hauteur */
}

main .location {
  height: 50px; /* hauteur */
  padding: 20px; /* marge intérieure */
  background-color: #f3f3f3; /* couleur de fond */
  box-shadow: inset 3px 3px 3px rgb(200, 200, 200); /* ombrages */
}
main .location p {
  padding: 0 20px; /* marge intérieure */
  font-size: 18px; /* taille police */
}
main .explorer {
  flex-direction: column; /* flexbox en colonne */
  padding: 20px 0; /* marge intérieure */
  background-color: #fafafa; /* couleur du fond */
  text-align: center; /*  centre le texte */
}
main .explorer p {
  font-size: 18px; /* taille police */
  color: #616161; /* couleur */
  padding: 0 20px; /* marge intérieure */
}
main .fonctionnement {
  padding: 20px; /* marge intérieure */
}

.btn {
  margin: 10px 0; /* marge extérieure */
  height: 50px; /* hauteur */
  border: none; /* bordure du cadre */
  box-shadow: 6px 6px 6px #dfdfdf; /* ombrages */
}

.btn_rose {
  margin-top: 20px; /* marge extérieure */
  margin-bottom: 30px;
  padding: 0 20px; /* marge intérieure */
  color: white; /* couleur */
  border-radius: 50px; /* arrondis du cadre */
  background: linear-gradient(#FF79DA, #9356DC); /* fond dégradé */
}

.btn_jaime {
  background-color: white;
  box-shadow: none;
}
.btn_jaime:active {
  color: linear-gradient(#FF79DA, #9356DC); /* couleur */
}

.ensemble_btn_fonctionnement p {
  min-width: 20px; /* largeur mini */
  width: 20px; /* largeur */
  min-height: 20px; /* hauteur mini */
  height: 20px; /* hauteur */
  color: white; /* couleur */
  background-color: #9356DC; /* couleur du fond */
  border-radius: 100%; /* arrondis du cadre */
  z-index: 2; /* élément au dernier plan */
}
.ensemble_btn_fonctionnement i {
  margin: 20px; /* marge extérieure */
  color: #959595; /* couleur */
  z-index: 2; /* élément au dernier plan */
}
.ensemble_btn_fonctionnement .btn_fonctionnement {
  margin-left: -66px;
  padding: 0 10px; /* marge intérieure */
  width: 100%; /* largeur */
  height: 70px; /* hauteur */
  background-color: #fafafa; /* couleur du fond */
  border-radius: 20px; /* arrondis du cadre */
}
.ensemble_btn_fonctionnement .btn_fonctionnement:hover {
  background-color: rgba(146, 86, 220, 0.1019607843); /* couleur du fond */
}

.restaurant {
  background-color: #f3f3f3; /* couleur du fond */
  padding: 20px; /* marge intérieure */
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant .carte_restaurant {
  width: 100%; /* largeur */
  margin-bottom: 20px; /* marge intérieure */
  border-radius: 20px; /* arrondis du cadre */
  box-shadow: 6px 6px 6px #dfdfdf; /* ombrages */
}
.restaurant .carte_restaurant img {
  height: 190px; /* hauteur */
  border-radius: 20px 20px 0 0; /* arrondis du cadre */
}
.restaurant .carte_restaurant .carte_restaurant_description {
  justify-content: space-between; /* espace les éléments */
  padding: 20px 20px; /* marge intérieure */
  background-color: white; /* couleur du fond */
  border-radius: 0 0 20px 20px; /* arrondis du cadre */
}
.restaurant .carte_restaurant .carte_restaurant_description p {
  font-size: 17px; /* taille police */
  font-weight: 300; /* largeur police */
}
.restaurant .carte_restaurant .carte_restaurant_description i {
  font-size: x-large;
}

footer {
  background-color: #353535; /* couleur du fond */
  padding: 20px; /* marge intérieure */
}

.footer_contend h5 {
  font-family: "Shrikhand"; /* police */
  color: white; /* couleur */
  margin-bottom: 20px; /* marge extérieure */
}
.footer_contend ul li {
  margin-bottom: 10px; /* marge extérieure */
}
.footer_contend ul li a {
  color: white; /* couleur */
}
.footer_contend ul li a i {
  width: 15px; /* largeur */
  padding-right: 20px; /* marge intérieure */
  font-size: smaller; /* taille de la police */
}

.header_contend_menu {
  display: grid; /* active la propriété 'grid' */
  grid-template-columns: repeat(1fr, 3); /* nb colonne + taille colonne */
  grid-template-areas: "i img"; /* placement template */
}
.header_contend_menu a {
  margin-left: -10px; /* marge extérieure */
}
.header_contend_menu a i {
  font-size: x-large; /* taille police */
  font-weight: bold; /* largeur police */
  color: black; /* couleur */
}
.header_contend_menu img {
  width: auto; /* largeur */
  height: 70px; /* hauteur */
  padding: 20px; /* marge intérieure */
  margin-left: -10px; /* marge extérieure */
}

.carte_menu {
  position: relative; /* propriété position relative */
  border-radius: 40px; /* arrondis */
  margin-top: -40px; /* marge extérieure */
  padding: 20px; /* marge intérieure */
  background-color: #f3f3f3; /* couleur fond */
}
.carte_menu .carte_menu_titre {
  justify-content: space-between; /* espace les éléments */
  margin: 20px 0; /* marge extérieure */
  background-color: #f3f3f3; /* couleur fond */
  border-radius: 20px 20px 0 0; /* arrondis */
}
.carte_menu .carte_menu_titre h1 {
  font-family: "Shrikhand"; /* police */
  font-size: 30px; /* taille police */
  margin-bottom: 0; /* largeur police */
  padding: 0; /* marge intérieure */
}
.carte_menu .carte_menu_titre i {
  font-size: x-large;
}

.btn_menu {
  text-align: left; /* texte à gauche */
  padding: 0 15px; /* marge intérieure */
  width: 100%; /* largeur */
  height: 70px; /* hauteur */
  background-color: #fafafa; /* couleur du fond */
  border-radius: 20px; /* arrondis du cadre */
}
.btn_menu > p {
  font-size: 18px; /* taille police */
  margin-bottom: 5px; /* marge extérieure */
}
.btn_menu .btn_menu_description_prix {
  justify-content: space-between; /* espace les éléments */
}
.btn_menu .btn_menu_description_prix > p {
  font-size: 15px; /* taille police */
  font-weight: 100; /* largeur police */
}

.commander .btn_rose {
  padding: 0 50px; /* marge intérieure */
  margin: 40px 0 60px 0; /* marge extérieure */
}/*# sourceMappingURL=style.css.map */