@charset "UTF-8";
/* couleurs principales */
/* ombrages */
/* caractéristiques "btn_rose_violet" */
/* caractéristiques "ensemble_btn_fonctionnement" */
/* caractéristiques "btn_fonctionnement" */
/* caractéristiques "btn_menu" */
/* width / height */
/* margin / padding */
/* display_flex */
/* btn */
/* btn_rose_violet */
/* ensemble_btn_fonctionnement */
/* btn_fonctionnement */
/* btn_menu */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap"); /* polices */
* {
  font-family: "Roboto"; /* police */
  box-sizing: border-box; /* élément final = element + margin + padding */
}

h1 {
  font-size: 25px; /* taille de la police */
  margin: 0 0 20px 0;
  padding: 0 50px;
}

h2 {
  font-size: 25px; /* taille de la police */
  font-weight: bold; /* largeur police */
  margin: 30px 0; /* marge extérieure */
}

h3 {
  font-weight: 300; /* largeur police */
  font-size: 18px; /* taille de la police */
  margin-top: 30px; /* marge extérieure */
}

h4 {
  font-size: 18px; /* taille de la police */
  padding: 25px 0 10px 0; /* marge intérieure */
}

h4 + p {
  padding-bottom: 20px; /* marge intérieure */
}

a {
  text-decoration: none; /* retire les effets de styles sur les liens */
}

img {
  width: 100%; /* largeur */
  -o-object-fit: cover;
     object-fit: cover; /* photo adapté au bloc */
}

a {
  display: block;
  margin-bottom: 20px; /* marge intérieure */
}

.bloc_page {
  margin: auto; /* marge extérieure */
}

.loader_background {
  position: fixed; /* affichage fixe */
  background: white; /* couleur fond */
  width: 100vw;
  height: 100vh;
  /* largeur, hauteur */
  cursor: wait; /* curseur en chargement */
  z-index: 5; /* superposition élément */
  display: inline-flex;
  justify-content: center; /* centre les éléments sur l'axe X */
  align-items: center; /* centre les éléments sur l'axe Y */
  -webkit-animation: ensemble_loader 1s forwards;
          animation: ensemble_loader 1s forwards; /* caractéristiques animation "ensemble_loader" */
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s; /* delay animation "ensemble_loader" */
}
@-webkit-keyframes ensemble_loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes ensemble_loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader_background .loader_container {
  margin-top: -120px; /* marge extérieure */
  background: white; /* couleur fond */
  display: flex; /* active la propriété flex */
  flex-direction: column; /* éléments alignés en colonne */
  justify-content: center; /* centre les éléments sur l'axe X */
  align-items: center; /* centre les éléments sur l'axe Y */
  -webkit-animation: loader 1s linear 4 alternate;
          animation: loader 1s linear 4 alternate; /* caractéristiques animation "loader" */
}
@-webkit-keyframes loader {
  0% {
    transform: scale(1, 1);
    opacity: 100%;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 50%;
  }
}
@keyframes loader {
  0% {
    transform: scale(1, 1);
    opacity: 100%;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 50%;
  }
}
.loader_background .loader_container .loader_item {
  padding: 5px; /* marge intérieure */
  font-family: "shrikhand"; /* police */
  font-size: 30px; /* taille police */
  background: linear-gradient(0deg, #FF79DA, #9356DC); /* couleur fond */
  -webkit-background-clip: text; /* application de la couleur du fond uniquement au texte */
  -webkit-text-fill-color: transparent;
  border: 2px solid #FF79DA; /* bordure */
  border-radius: 20px; /* arrondis */
  box-shadow: 0px 6px 6px 6px #dfdfdf; /* ombrages */
  -webkit-animation: loader_ombrage 1s linear 4 alternate;
          animation: loader_ombrage 1s linear 4 alternate; /* caractéristiques animation "loader_ombrage" */
}
@-webkit-keyframes loader_ombrage {
  0% {
    box-shadow: 0px 6px 3px #dfdfdf;
  }
  100% {
    box-shadow: 0px 10px 5px #dfdfdf;
  }
}
@keyframes loader_ombrage {
  0% {
    box-shadow: 0px 6px 3px #dfdfdf;
  }
  100% {
    box-shadow: 0px 10px 5px #dfdfdf;
  }
}
.loader_background .loader_container .loader_spin {
  margin: 20px; /* marge extérieure */
  margin-bottom: -120px; /* marge extérieure */
  width: 200px;
  height: 200px;
  /* largeur hauteur */
  border-radius: 50%; /* arrondis */
  display: inline-block;
  border-top: 10px solid #9356DC; /* caractéristiques bordure */
  border-right: 10px solid transparent; /* caractéristiques bordure */
  -webkit-animation: rotation 1.5s linear 4;
          animation: rotation 1.5s linear 4; /* caractéristiques rotation */
}
.loader_background .loader_container .loader_spin::after {
  content: "";
  position: absolute; /* position */
  left: 0; /* gauche */
  top: 0; /* haut */
  width: 200px;
  height: 200px;
  /* largeur hauteur */
  border-radius: 50%; /* arrondis */
  border-bottom: 7px solid #FF79DA; /* border */
  border-left: 7px solid transparent; /* border */
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1400px; /* largeur max à 1400px */
  width: 100%; /* largeur à 100% */
  margin: auto; /* marge extérieure automatique */
}

.header_contend a {
  margin: 0px; /* marge extérieure */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_contend img {
  width: auto;
  height: 70px;
  /* largeur hauteur */
  padding: 20px; /* marge intérieure */
}

.banniere {
  width: 100%;
  height: 100%;
  /* largeur hauteur */
}
.banniere img {
  width: 100%;
  height: 350px;
  /* largeur hauteur */
  -o-object-position: 0% 70%;
     object-position: 0% 70%; /* position */
}

main .location {
  height: 50px; /* hauteur */
  padding: 20px; /* marge intérieure */
  background-color: #f3f3f3; /* couleur de fond */
  box-shadow: inset 3px 3px 3px rgb(200, 200, 200); /* ombrages */
  display: flex;
  justify-content: center;
  align-items: center;
}
main .location i {
  padding: 0 20px; /* marge intérieure */
  font-size: 18px; /* taille police */
}
main .location input {
  margin-right: -20px; /* marge extérieure */
  background-color: #f3f3f3;
  border: none;
}
main .explorer {
  flex-direction: column; /* flexbox en colonne */
  padding: 20px 0; /* marge intérieure */
  background-color: #fafafa; /* couleur du fond */
  text-align: center; /*  centre le texte */
  display: flex;
  justify-content: center;
  align-items: center;
}
main .explorer p {
  font-size: 18px; /* taille police */
  color: #616161; /* couleur */
  padding: 0 20px; /* marge intérieure */
}
main .fonctionnement {
  padding: 20px; /* marge intérieure */
}

.btn_rose_violet {
  width: auto;
  height: 50px;
  margin: 20px 0 30px 0;
  padding: 0 20px;
  border: none; /* bordure du cadre */
  border-radius: 50px; /* arrondis du cadre */
  box-shadow: 6px 6px 6px #dfdfdf; /* ombrages */
  color: white; /* couleur */
  background: linear-gradient(#FF79DA, #9356DC); /* fond dégradé */
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_rose_violet:hover {
  opacity: 80%; /* opacité */
  box-shadow: 9px 9px 9px #dfdfdf; /* ombrages */
}

.commander .btn_rose_violet {
  width: 200px;
}

.ensemble_btn_fonctionnement:hover i {
  color: #9356DC;
}
.ensemble_btn_fonctionnement a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ensemble_btn_fonctionnement a p {
  min-width: 20px; /* largeur mini */
  min-height: 20px; /* hauteur mini */
  width: 20px;
  height: 20px;
  color: white; /* couleur chiffre */
  background-color: #9356DC; /* couleur du fond chiffre */
  border-radius: 100%; /* arrondis du cadre */
  z-index: 2; /* élément au dernier plan */
  display: flex;
  justify-content: center;
  align-items: center;
}
.ensemble_btn_fonctionnement a i {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  margin: 20px; /* marge extérieure */
  color: #959595; /* couleur */
  z-index: 2; /* élément au dernier plan */
}
.ensemble_btn_fonctionnement a .btn_fonctionnement {
  width: 100%;
  height: 70px;
  margin: 0 0 0 -66px;
  padding: 0 10px;
  border: none; /* bordure du cadre */
  border-radius: 20px; /* arrondis du cadre */
  box-shadow: 6px 6px 6px #dfdfdf; /* ombrages */
  color: black; /* couleur */
  background: #fafafa; /* fond dégradé */
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ensemble_btn_fonctionnement a .btn_fonctionnement:hover {
  background: rgba(146, 86, 220, 0.1019607843); /* couleur du fond */
  box-shadow: 9px 9px 9px #dfdfdf;
}

.restaurant {
  background-color: #f3f3f3; /* couleur du fond */
  padding: 20px; /* marge intérieure */
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant ul li {
  transition: all ease-in-out 0.3s; /* définit l'effet de transition du zoom */
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}
.restaurant ul li:hover {
  transform: scale(1.02);
}
.restaurant ul li:hover a {
  box-shadow: 9px 9px 9px #dfdfdf; /* ombrages */
}
.restaurant .carte_restaurant {
  width: 100%; /* largeur */
  margin-bottom: 20px; /* marge intérieure */
}
.restaurant .carte_restaurant a {
  position: relative;
  box-shadow: 6px 6px 6px #dfdfdf; /* ombrages */
  border-radius: 20px; /* arrondis du cadre */
  transition: all ease-in-out 0.3s;
}
.restaurant .carte_restaurant .nouveau_bloc_vert {
  padding: 10px 15px;
  background-color: #99E2D0;
  color: #107f64;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 20px;
  margin-bottom: -14%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant .carte_restaurant img {
  height: 190px; /* hauteur */
  border-radius: 20px 20px 0 0; /* arrondis du cadre */
}
.restaurant .carte_restaurant .carte_restaurant_description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between; /* espace les éléments */
  padding: 20px 20px; /* marge intérieure */
  background-color: white; /* couleur du fond */
  border-radius: 0 0 20px 20px; /* arrondis du cadre */
}
.restaurant .carte_restaurant .carte_restaurant_description p {
  font-size: 17px; /* taille police */
  font-weight: 300; /* largeur police */
}
.restaurant .carte_restaurant .carte_restaurant_description i {
  font-size: x-large;
}

footer {
  background-color: #353535; /* couleur du fond */
  padding: 20px; /* marge intérieure */
}

.footer_contend h5 {
  font-family: "Shrikhand"; /* police */
  color: white; /* couleur */
  margin-bottom: 20px; /* marge extérieure */
}
.footer_contend ul li {
  margin-bottom: 10px; /* marge extérieure */
}
.footer_contend ul li a {
  color: white; /* couleur */
}
.footer_contend ul li a i {
  width: 15px; /* largeur */
  padding-right: 20px; /* marge intérieure */
  font-size: smaller; /* taille de la police */
}

.header_contend_menu {
  width: 100%;
  display: inline-flex;
}
.header_contend_menu div {
  margin-left: auto;
}
.header_contend_menu a {
  margin-right: auto;
  padding-left: 20px;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header_contend_menu a i {
  font-size: x-large; /* taille police */
  font-weight: bold; /* largeur police */
  color: black; /* couleur */
}
.header_contend_menu img {
  width: auto;
  height: 70px; /* hauteur */
  padding: 20px; /* marge intérieure */
  margin-left: -40px; /* marge extérieure */
}

.carte_menu {
  position: relative; /* propriété position relative */
  border-radius: 40px 40px 0 0; /* arrondis */
  margin-top: -40px; /* marge extérieure */
  padding: 20px; /* marge intérieure */
  background-color: #f3f3f3; /* couleur fond */
}
.carte_menu h3 {
  position: relative;
  margin-bottom: 20px;
}
.carte_menu h3::before {
  content: "";
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -10px;
}
.carte_menu .carte_menu_titre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between; /* espace les éléments */
  margin: 20px 0; /* marge extérieure */
  background-color: #f3f3f3; /* couleur fond */
  border-radius: 20px 20px 0 0; /* arrondis */
}
.carte_menu .carte_menu_titre h1 {
  font-family: "Shrikhand"; /* police */
  font-size: 30px; /* taille police */
  margin-bottom: 0; /* largeur police */
  padding: 0; /* marge intérieure */
}

.carte_menu section {
  opacity: 0;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari et Chrome */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.carte_menu .entrees {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.carte_menu .plats {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.carte_menu .desserts {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}
.txt_overflow {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.btn_menu {
  cursor: pointer;
  width: 100%;
  height: 70px;
  margin: 0 0 15px 0;
  padding: 0 0 0 15px;
  border: none; /* bordure du cadre */
  border-radius: 20px; /* arrondis du cadre */
  box-shadow: 6px 6px 6px #dfdfdf; /* ombrages */
  color: black; /* couleur */
  background: #fafafa; /* fond dégradé */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn_menu:hover .txt_overflow {
  width: 180px; /* largeur */
}
.btn_menu .btn_menu_description {
  width: 100%; /* largeur */
}
.btn_menu .btn_menu_description > p {
  font-size: 15px; /* taille police */
  font-weight: 100; /* largeur police */
  margin-bottom: 10px; /* marge extérieure */
}
.btn_menu .btn_menu_prix_item_valider {
  height: 100%; /* hauteur */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
}
.btn_menu .btn_menu_prix_item_valider > p {
  padding-right: 10px; /* marge extérieure */
  margin-bottom: -25px; /* position texte */
  margin-left: -20px; /* position texte */
  font-size: 15px; /* taille police */
  font-weight: 600; /* largeur police */
}
.btn_menu .btn_menu_prix_item_valider .item_valider {
  width: 0px;
  height: 100%;
  border-radius: 0 20px 20px 0; /* arrondis */
  color: white; /* couleur */
  background-color: #99E2D0; /* background */
  transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_menu .btn_menu_prix_item_valider .item_valider i {
  font-size: xx-small; /* taille police */
  opacity: 0; /* opacité */
  color: #fafafa; /* couleur */
  transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}
.btn_menu:hover .item_valider {
  width: 80px; /* largeur */
}
.btn_menu:hover .item_valider i {
  font-size: x-large; /* taille police */
  opacity: 100%; /* opacité */
  transform: rotate(-360deg); /* rotation */
}

.btn_jaime {
  box-shadow: none; /* ombrages */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_jaime .btn_jaime_index {
  margin-right: -24px;
}
.btn_jaime .btn_jaime_index_2 {
  font-weight: bold;
  color: rgba(243, 243, 243, 0);
  opacity: 0;
  background: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}
.btn_jaime .btn_jaime_menu {
  margin-right: -24px;
  font-size: x-large;
}
.btn_jaime .btn_jaime_menu_2 {
  opacity: 0;
  background: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
  font-weight: bold;
  font-size: x-large;
  color: rgba(243, 243, 243, 0);
  animation: coeur 3s;
  -moz-animation: coeur 3s; /* Firefox */
  -webkit-animation: coeur 3s; /* Safari et Chrome */
}
.btn_jaime .fa-heart:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.commander {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.commander .btn_rose {
  padding: 0 50px; /* marge intérieure */
  margin: 40px 0 60px 0; /* marge extérieure */
}

@media (min-width: 750px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .container .header_contend {
    width: 100%;
  }
  .container .header_contend_menu {
    width: 100%;
  }
  .container .carte_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container .carte_menu .carte_menu_titre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .carte_menu .carte_menu_titre h1 {
    margin-right: 20px;
  }
  .container .carte_menu section {
    width: 48%;
  }
  .container .carte_menu .desserts {
    width: 100%;
  }
  .container .carte_menu .desserts .txt_overflow {
    overflow: visible;
  }
  .container .carte_menu .commander {
    width: 100%;
  }
  .container h2 {
    text-align: center;
  }
  .container .location {
    width: 100%;
  }
  .container .explorer_background {
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .explorer {
    width: 75%;
    background-color: #f3f3f3;
    border-radius: 40px;
  }
  .container .fonctionnement {
    width: 50%;
  }
  .container .restaurant {
    width: 100%;
  }
  .container .restaurant ul {
    display: flex;
    flex-wrap: wrap;
  }
  .container .restaurant ul .carte_restaurant {
    width: 48%;
    margin-right: 2%;
  }
}
@media (min-width: 1200px) {
  .bloc_page .container .carte_menu section {
    width: 30%;
  }
  .bloc_page .container .carte_menu .desserts .txt_overflow {
    overflow: hidden;
  }
  .bloc_page .container .carte_menu .commander {
    width: 100%;
  }
  .bloc_page .container .footer_contend {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */