@import '_variables.scss';
@import '_mixins.scss';
@import '_placeholders.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap'); /* polices */

*
{
font-family: 'Roboto'; /* police */
box-sizing: border-box; /* élément final = element + margin + padding */
}

h1
{
font-size: 25px; /* taille de la police */
@include margin_padding(0 0 20px 0, 0 50px) /* margin, padding */
}

h2
{
font-size: 25px; /* taille de la police */
font-weight: bold; /* largeur police */
margin: 30px 0; /* marge extérieure */
}

h3
{
font-weight: 300; /* largeur police */
font-size: 18px; /* taille de la police */
margin-top: 30px; /* marge extérieure */
}

h4
{
font-size: 18px; /* taille de la police */
padding: 25px 0 10px 0; /* marge intérieure */
}

h4 + p
{
padding-bottom: 20px; /* marge intérieure */
}

a
{
text-decoration: none; /* retire les effets de styles sur les liens */
}

img
{
width: 100%; /* largeur */
object-fit: cover; /* photo adapté au bloc */
}     

a
{
display: block;
margin-bottom: 20px; /* marge intérieure */
}  

.bloc_page
{
margin: auto; /* marge extérieure */
}

.loader_background
{
    position : fixed; /* affichage fixe */
    background: #ffff; /* couleur fond */
    @include width_height(100vw, 100vh); /* largeur, hauteur */
    cursor: wait; /* curseur en chargement */
    z-index: 5; /* superposition élément */

    display: inline-flex; 
    justify-content: center; /* centre les éléments sur l'axe X */
    align-items: center; /* centre les éléments sur l'axe Y */

    animation: ensemble_loader 1s forwards; /* caractéristiques animation "ensemble_loader" */
    animation-delay: 2.7s; /* delay animation "ensemble_loader" */
    @keyframes ensemble_loader 
    {
        0% { opacity: 1; }
        100% { opacity: 0; 
        z-index: -10;}
    }
    .loader_container
    {
        margin-top: -120px; /* marge extérieure */
        background: white; /* couleur fond */
        display: flex; /* active la propriété flex */
        flex-direction: column; /* éléments alignés en colonne */
        justify-content: center; /* centre les éléments sur l'axe X */
        align-items: center; /* centre les éléments sur l'axe Y */
        animation: loader 1s linear 4 alternate; /* caractéristiques animation "loader" */
        
        @keyframes loader 
        {
            0% { transform: scale(1, 1); 
                opacity: 100%; }
            100% { 
                transform: scale(1.2, 1.2);
                opacity: 50% }
        }
        .loader_item
        {
            padding: 5px; /* marge intérieure */
            font-family: "shrikhand"; /* police */
            font-size: 30px; /* taille police */
            background: linear-gradient(0deg, $couleur_2, $couleur_1); /* couleur fond */
            -webkit-background-clip: text; /* application de la couleur du fond uniquement au texte */
            -webkit-text-fill-color: transparent;
            border: 2px solid $couleur_2; /* bordure */
            border-radius: 20px; /* arrondis */ 
            box-shadow: 0px 6px 6px 6px #dfdfdf; /* ombrages */
            animation: loader_ombrage 1s linear 4 alternate; /* caractéristiques animation "loader_ombrage" */
        
            @keyframes loader_ombrage 
            {
                0% { box-shadow: 0px 6px 3px #dfdfdf; }
                100% { box-shadow: 0px 10px 5px #dfdfdf; }
            }
        }
        .loader_spin
        {
            margin: 20px; /* marge extérieure */
            margin-bottom: -120px; /* marge extérieure */
            @include width_height(200px, 200px); /* largeur hauteur */
            border-radius: 50%; /* arrondis */
            display: inline-block;
            border-top: 10px solid $couleur_1; /* caractéristiques bordure */
            border-right: 10px solid transparent; /* caractéristiques bordure */
            animation: rotation 1.5s linear 4; /* caractéristiques rotation */
        }
        .loader_spin::after 
        {
            content: '';  
            position: absolute; /* position */
            left: 0; /* gauche */
            top: 0; /* haut */
            @include width_height(200px, 200px); /* largeur hauteur */
            border-radius: 50%; /* arrondis */
            border-bottom: 7px solid $couleur_2; /* border */
            border-left: 7px solid transparent; /* border */
        }
        @keyframes rotation 
        {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        } 
    }
}

.container /* détermine les dimensions de la page */
{
max-width: 1400px; /* largeur max à 1400px */
width: 100%; /* largeur à 100% */
margin: auto; /* marge extérieure automatique */
}

.header_contend /* détermine les caractéristiques du contenu du header */
{
    a
    {
        margin: 0px; /* marge extérieure */

        @include display_flex(center, center);
    }
    img
    {
        @include width_height(auto, 70px); /* largeur hauteur */
        padding: 20px; /* marge intérieure */
    }
}

.banniere
{
    @include width_height(100%, 100%); /* largeur hauteur */
    img
    {
        @include width_height(100%, 350px); /* largeur hauteur */
        object-position: 0% 70%; /* position */
    }
}

main
{
    .location
    {
        height: 50px; /* hauteur */
        padding: 20px; /* marge intérieure */
        background-color: #f3f3f3; /* couleur de fond */

        box-shadow: inset 3px 3px 3px rgb(200, 200, 200); /* ombrages */

        @include display_flex(center, center);
        i
        {
            padding: 0 20px; /* marge intérieure */
            font-size: 18px; /* taille police */
        }
        input
        {
            margin-right: -20px; /* marge extérieure */
            background-color: #f3f3f3;
            border: none; 
        }
    }
    .explorer
    {
        flex-direction: column; /* flexbox en colonne */

        padding: 20px 0; /* marge intérieure */
        background-color: #fafafa; /* couleur du fond */ 
        text-align: center; /*  centre le texte */   
        
        @include display_flex(center, center);
        p
        {
            font-size: 18px; /* taille police */
            color: #616161; /* couleur */
            padding: 0 20px; /* marge intérieure */
        }
    }
    .fonctionnement
    {
        padding: 20px; /* marge intérieure */
    }
}

.btn_rose_violet
{ 
    @include btn(auto, $height__btn_rose_violet, $margin__btn_rose_violet, $padding__btn_rose_violet, $border-radius__btn_rose_violet);
    @include btn_rose_violet($color__btn_rose_violet, $background__btn_rose_violet, $hover-opacity__btn_rose_violet);
    @include display_flex(center, center);
}

.commander .btn_rose_violet
{ 
    width: 200px;
}

.ensemble_btn_fonctionnement 
{
    @include ensemble_btn_fonctionnement($hover-color-icone__ensemble_btn_fonctionnement, $background-chiffre__ensemble_btn_fonctionnement);
}

.restaurant
{
    background-color: #f3f3f3; /* couleur du fond */
    padding: 20px; /* marge intérieure */
    a
    {
        text-decoration: none;
        color: black;
    }
    ul li
    {
        transition: all ease-in-out .3s; /* définit l'effet de transition du zoom */
        -moz-transition: all ease-in-out .3s;
        -webkit-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
    }
    ul li:hover
    {
        transform: scale(1.02);
        a
        {
            box-shadow: 9px 9px 9px #dfdfdf; /* ombrages */
        }

    }
    .carte_restaurant
    {
        width: 100%; /* largeur */
        margin-bottom: 20px; /* marge intérieure */
        a
        {
            position: relative;
            box-shadow: 6px 6px 6px #dfdfdf; /* ombrages */
            border-radius: 20px; /* arrondis du cadre */
            transition: all ease-in-out .3s;
        }
        .nouveau_bloc_vert
        {
            padding: 10px 15px;
            background-color: #99E2D0;
            color: #107f64;
            border-radius: 3px;
            
            position: absolute;
            right: 20px;
            top: 20px;
            margin-bottom: -14%;
            z-index: 2;

            @include display_flex(center, center);
        }
        img
        {
            height: 190px; /* hauteur */
            border-radius: 20px 20px 0 0; /* arrondis du cadre */
        }
        .carte_restaurant_description
        {
            @include display_flex(flex-start, center);
            justify-content: space-between; /* espace les éléments */
            

            padding: 20px 20px; /* marge intérieure */
            background-color: white; /* couleur du fond */
            border-radius: 0 0 20px 20px; /* arrondis du cadre */
            p
            {
                font-size: 17px; /* taille police */
                font-weight: 300; /* largeur police */
            }
            i
            {
                font-size: x-large;
            }
        }
    }
}

footer
{
    background-color: #353535; /* couleur du fond */
    padding: 20px; /* marge intérieure */
}

.footer_contend /* détermine les caractéristiques du contenu du footer */
{
    h5
    {
        font-family: 'Shrikhand'; /* police */
        color: white; /* couleur */
        margin-bottom: 20px; /* marge extérieure */
    }
    ul li 
    {
        margin-bottom: 10px; /* marge extérieure */
        a
        {
            color: white; /* couleur */
            i
            {
                width: 15px; /* largeur */
                padding-right: 20px; /* marge intérieure */
                font-size: smaller; /* taille de la police */
            }
        }
    }
}

.header_contend_menu
{
    width: 100%;
    display: inline-flex;
    div
    {
        margin-left: auto;
    }
    a
    {
        margin-right: auto;
        padding-left: 20px;
        margin-bottom: 0px;

        @include display_flex(flex-start, center); 
        i
        {
            font-size: x-large; /* taille police */
            font-weight: bold; /* largeur police */
            color: black; /* couleur */
        }
    }
    img
    {
        width: auto;
        height: 70px; /* hauteur */
        padding: 20px; /* marge intérieure */
        margin-left: -40px; /* marge extérieure */
    }
}

.carte_menu
{
    position: relative; /* propriété position relative */
    border-radius: 40px 40px 0 0; /* arrondis */
    margin-top: -40px; /* marge extérieure */
    padding: 20px; /* marge intérieure */
    background-color: #f3f3f3; /* couleur fond */
    h3
    {
        position: relative;
        margin-bottom: 20px;
    }
    h3::before
    {
        content: "";
        width: 45px;
        height: 3px;
        background-color: $couleur_3;
        position: absolute;
        bottom: -10px;
    }
    .carte_menu_titre
    {
        @include display_flex(flex-start, center);
        justify-content: space-between; /* espace les éléments */

        margin: 20px 0; /* marge extérieure */
        background-color: #f3f3f3; /* couleur fond */
        border-radius: 20px 20px 0 0; /* arrondis */
        h1
        {
            font-family: 'Shrikhand'; /* police */
            font-size: 30px; /* taille police */
            margin-bottom: 0; /* largeur police */
            padding: 0; /* marge intérieure */
        }
    }
}

.carte_menu
{
    section 
    {
        opacity: 0;
        animation: fadein 1s;
        -moz-animation: fadein 1s; /* Firefox */
        -webkit-animation: fadein 1s; /* Safari et Chrome */
        animation-fill-mode: forwards;
    }
    .entrees
    {
        animation-delay: 3s;
    }
    .plats 
    {
        animation-delay: 3.5s;
    }
    .desserts
    {
        animation-delay: 4s;
    }

}
@keyframes fadein {
    to {
        opacity:1;
    }
}

.txt_overflow
 {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: width ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
 }

.btn_menu
{
    cursor: pointer;
    @include btn($width__btn_menu, $height__btn_menu, $margin__btn_menu, $padding__btn_menu, $border-radius__btn_menu);
    @include btn_menu($color__btn_menu, $background__btn_menu);
    @include display_flex(flex-start, center);
}

    

.btn_jaime
{
    box-shadow: none; /* ombrages */

    @include display_flex(center, center); 

    .btn_jaime_index
    {
        margin-right: -24px;
    }
    .btn_jaime_index_2
    {
        font-weight: bold;
        color: #f3f3f300;
        opacity: 0;
        background: linear-gradient(0deg, $couleur_2, $couleur_1);
        -webkit-background-clip: text;
        background-clip: text;
        cursor: pointer;
    }
    .btn_jaime_menu
    {
        margin-right: -24px;
        font-size: x-large;
    }
    .btn_jaime_menu_2
    {
        opacity: 0;
        background: linear-gradient(0deg, $couleur_2, $couleur_1);
        -webkit-background-clip: text;
        background-clip: text;
        cursor: pointer;

        font-weight: bold;
        font-size: x-large;
        color: #f3f3f300;
        animation: coeur 3s;
        -moz-animation: coeur 3s; /* Firefox */
        -webkit-animation: coeur 3s; /* Safari et Chrome */
    }
    
    .fa-heart:hover
    {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -webkit-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
    }
}

.commander
{
    @include display_flex(center, baseline);
    .btn_rose
    {
        padding: 0 50px; /* marge intérieure */
        margin: 40px 0 60px 0; /* marge extérieure */
    }
}

@media (min-width: 750px) 
{ 
    .container
    {   
        display: flex;
        flex-wrap: wrap;
        .header_contend
        { 
            width: 100%;
        }
        .header_contend_menu
        { 
            width: 100%;
        }
        .carte_menu
        { 
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .carte_menu_titre
            { 
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                h1
                { 
                    margin-right: 20px;
                }
            }
            section
            { 
                width: 48%;
            }
            .desserts
            { 
                width: 100%;
                .txt_overflow 
                {
                    overflow: visible;
                }
            }
            .commander
            { 
                width: 100%;
            }
        }
        h2
        { 
            text-align: center;
        }
        .location
        { 
            width: 100%;
        }
        .explorer_background
            { 
                width: 50%;
                background-color: white;
                
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .explorer
            { 
                width: 75%;
                background-color: #f3f3f3;
                border-radius: 40px;
            }
        .fonctionnement
        { 
            width: 50%;
        }
        .restaurant
        { 
            width: 100%;
            ul
            { 
                display: flex;
                flex-wrap: wrap;

                .carte_restaurant
                { 
                    width: 48%;
                    margin-right: 2%;
                }
            }
        }
    }
}   

@media (min-width: 1200px) 
{ 
    .bloc_page
    { 
        .container
        { 
            .carte_menu
            {
                section
                { 
                    width: 30%;
                }
                .desserts
                { 
                    .txt_overflow 
                    {
                        overflow: hidden;
                    }
                }
                .commander
                { 
                    width: 100%;
                }               
            }
            .footer_contend
            { 
                padding: 20px;
            }
        }
    }
}