 @import '_variables.scss';
 @import '_mixins.scss';
 @import '_placeholders.scss';

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap'); 

 *
 {
    font-family: 'Roboto';
    box-sizing: border-box; /* élément final = element + margin + padding */
 }

 h1
{
    font-family: 'Shrikhand';
    font-size: 22px; /* taille de la police */
    margin-bottom: 20px; /* marge extérieure */
    padding: 0 30px; /* marge intérieure */
 }

 h2
 {
    font-size: 18px; /* taille de la police */
    margin-top: 30px; /* marge extérieure */
 }

 a
 {
    text-decoration: none;
 }

 img
 {
    width: 100%; /* largeur */
    object-fit: cover; /* photo adapté au bloc */

 }          

 .bloc_page
 {
    margin: auto; /* marge extérieure */
 }

 .container /* détermine les dimensions de la page */
 {
    max-width: 1340px; /* largeur max à 1340px */
    width: 100%; /* largeur à 100% */
    margin: auto; /* marge extérieure automatique */
 }

 .header_contend /* détermine les caractéristiques du contenu du header */
{
    a
    {
        @extend %flex-center_x; /* placeholder flexbox centré sur l'axe x */

        padding: 20px 0; /* marge intérieure */
    }
    img
    {
        width: auto; /* largeur */
        height: 30px; /* hauteur */
    }
}

main
{
    .location
    {
        @extend %flex-center_xy; /* placeholder flexbox centré sur l'axe x & y */
    
        height: 50px; /* hauteur */
        padding: 20px; /* marge intérieure */
        background-color: #f3f3f3; /* couleur de fond */

        box-shadow: inset 3px 3px 3px rgb(200, 200, 200); /* ombrages */

        p
        {
            padding: 0 20px; /* marge intérieure */
            font-size: 20px; /* taille police */
        }
    }
    .explorer
    {
        @extend %flex-center_xy; /* placeholder flexbox centré sur l'axe x & y */
        flex-direction: column; /* flexbox en colonne */

        padding: 20px 0;
        background-color: #fafafa; /* couleur du fond */ 
        text-align: center; /*  centre le texte */    
        p
        {
            padding: 0 20px; /* marge intérieure */
        }
    }
    .fonctionnement
    {
        padding: 20px; /* marge intérieure */
    }
}

.btn /* caractéristiques générales des boutons */
{
    margin: 10px 0; /* marge extérieure */
    height: 50px; /* hauteur */
    border: none; /* bordure du cadre */
    box-shadow: 6px 6px 6px #dfdfdf; /* ombrages */
}

.btn_rose 
{
    margin-top: 20px; /* marge extérieure */
    padding: 0 20px; /* marge intérieure */
    color: white; /* couleur */
    border-radius: 50px; /* arrondis du cadre */ 
    background: linear-gradient($couleur_2, $couleur_1); /* fond dégradé */ 
}

.ensemble_btn_fonctionnement
{
    @extend %flex-center_y;  
    p
    {
        @extend %flex-center_xy; /* placeholder flexbox centré sur l'axe x & y */

        min-width: 20px; /* largeur mini */
        width: 20px; /* largeur */
        min-height: 20px; /* hauteur mini */
        height: 20px; /* hauteur */
        color: white; /* couleur */
        background-color: #9356DC; /* couleur du fond */
        border-radius: 100%; /* arrondis du cadre */
        z-index: 2; /* élément au dernier plan */
    }
    i
    {
        margin: 20px; /* marge extérieure */
        color: #959595; /* couleur */
        z-index: 2; /* élément au dernier plan */
    }
    .btn_fonctionnement
    {
        margin-left: -66px;
        padding: 0 10px; /* marge intérieure */
        width: 100%; /* largeur */
        height: 70px; /* hauteur */
        background-color: #fafafa; /* couleur du fond */
        border-radius: 20px; /* arrondis du cadre */
        &:hover
        {
            background-color: #9256dc1a; /* couleur du fond */
        }
    }
}

.restaurant
{
    background-color: #f3f3f3; /* couleur du fond */
    padding: 20px; /* marge intérieure */
    a
    {
        text-decoration: none;
        color: black;
    }
    .carte_restaurant
    {
        width: 100%; /* largeur */
        margin-bottom: 20px; /* marge intérieure */
        border-radius: 20px; /* arrondis du cadre */
        box-shadow: 6px 6px 6px #dfdfdf; /* ombrages */
        img
        {
            height: 190px; /* hauteur */
            border-radius: 20px 20px 0 0; /* arrondis du cadre */
        }
        .carte_restaurant_description
        {
            @extend %flex-center_y;
            justify-content: space-between; /* espace les éléments */
            

            padding: 20px 20px; /* marge intérieure */
            background-color: white; /* couleur du fond */
            border-radius: 0 0 20px 20px; /* arrondis du cadre */
            i
            {
                &:hover
                {
                    color: linear-gradient($couleur_2, $couleur_1); /* couleur */
                }
            }
        }
    }
}

footer
{
    background-color: #353535; /* couleur du fond */
    padding: 20px; /* marge intérieure */
}

.footer_contend /* détermine les caractéristiques du contenu du footer */
{
    h3
    {
        color: white; /* couleur */
        margin-bottom: 20px; /* marge extérieure */
    }
    ul li 
    {
        margin-bottom: 10px; /* marge extérieure */
        a
        {
            color: white; /* couleur */
            i
            {
                width: 15px; /* largeur */
                padding-right: 20px; /* marge intérieure */
                font-size: smaller; /* taille de la police */
            }
        }
    }
}

.header_contend_menu
{
    display: grid;
    grid-template-columns: repeat(1fr, 3) ;
    grid-template-areas: "i img";
    a
    {
        @extend %flex-center_xy; /* placeholder flexbox centré sur l'axe x & y */

        margin-left: -10px;
        i
        {
            font-size: x-large;
            font-weight: bold;
            color: black;
        }

    }
    img
    {
        width: auto; /* largeur */
        height: 70px; /* hauteur */
        padding: 20px; /* marge intérieure */
        margin-left: -10px; /* marge extérieure */
    }
}

.banniere
{
    
}

.carte_menu
{
    position: relative;
    margin-top: -40px;
    padding: 20px 0;
    background-color: #f3f3f3;
    
    .carte_menu_titre
    {
        @extend %flex-center_xy;

        background-color: #f3f3f3;
        border-radius: 20px 20px 0 0;
        h1
        {
            margin-bottom: 0;
        }

    }
    .entrees
    {

    }
    .plats
    {
        
    }
    .desserts
    {
        
    }
}

.btn_menu
{
    text-align: left;
    padding: 0 10px; /* marge intérieure */
    width: 100%; /* largeur */
    height: 70px; /* hauteur */
    background-color: #fafafa; /* couleur du fond */
    border-radius: 20px; /* arrondis du cadre */
    .btn_menu_description_prix
    {
        @extend %flex-center_x;
        justify-content: space-between;
    }      
}

.commander
{
    @extend %flex-center_x;
    .btn_rose
    {
        padding: 0 50px;
        margin: 40px 0 60px 0;
    }

}

